.project_list {
	margin: auto;
}

a {
	color: #DC4C18;
}

.main {
	color: #7A7A7A;
}

.project_list a {
	display: inline-block;
	border: 0.5px solid #7A7A7A;
	margin: 50px 100px;
	padding: 10px;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #DC4C18;
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.project_list a:hover {
	background-color: white;
	color: #DC4C18;
	border: 0.5px solid black;
}

.cheat {
	width: 1000px;
	height: 450px;
	overflow: scroll;
	margin: 15px auto;
}

.cheat h3 {
	color: #DC4C18;
}